<robot name="uie_robot">
  <material name="White">
  <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="Silver">
    <color rgba="0.753 0.753 0.753 1.0"/>
  </material>

  <link name="link_base">
    <inertial>
      <origin
        xyz="-0.00829544579053192 3.26357432323433E-05 0.0631194584987089"
        rpy="0 0 0" />
      <mass
        value="2.11" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/visual/link_base.stl"/>
      </geometry>
      <material name="White" />
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/collision/link_base.stl"/>
      </geometry>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin
        xyz="-0.00036 0.042 -0.0025"
        rpy="0 0 0" />
      <mass
        value="1.411" />
      <inertia
        ixx="1.45164E-03"
        ixy="1.24E-05"
        ixz="-6.7E-06"
        iyy="8.873E-04"
        iyz="1.255E-04"
        izz="1.31993E-03" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/visual/link1.stl"/>
      </geometry>
      <material name="White" />
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/collision/link1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <origin
      xyz="0 0 0.2433"
      rpy="0 0 0" />
    <parent
      link="link_base" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="32.0"
      velocity="3.14"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>
  <link name="link2">
    <inertial>
      <origin
        xyz="0.179 0.0 0.0584"
        rpy="0 0 0" />
      <mass
        value="1.34" />
      <inertia
        ixx="1.5854E-03"
        ixy="-6.766E-06"
        ixz="-1.15136E-03"
        iyy="5.6097E-03"
        iyz="1.14E-06"
        izz="4.85E-03" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/visual/link2.stl"/>
      </geometry>
      <material name="White" />
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/collision/link2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint2" type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 3.1416" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.61799"
      upper="2.61799"
      effort="32.0"
      velocity="3.14"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>
  <link name="link3">
    <inertial>
      <origin
        xyz="0.072 -0.036 -0.001"
        rpy="0 0 0" />
      <mass
        value="0.953" />
      <inertia
        ixx="8.861E-04"
        ixy="-3.9287E-04"
        ixz="7.066E-05"
        iyy="1.5785E-03"
        iyz="-2.445E-05"
        izz="1.84677E-03" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/visual/link3.stl"/>
      </geometry>
      <material name="White" />
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/collision/link3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint3" type="revolute">
    <origin
      xyz="0.2 0 0"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.061087"
      upper="5.235988"
      effort="18.0"
      velocity="3.14"/>
    <dynamics damping="1.0" friction="1.0"/>
  </joint>
  <link name="link4">
    <inertial>
      <origin
        xyz="-0.002 -0.0285 -0.0813"
        rpy="0 0 0" />
      <mass
        value="1.284" />
      <inertia
        ixx="3.705E-03"
        ixy="-2.0E-06"
        ixz="7.17E-06"
        iyy="3.0455E-03"
        iyz="-9.3188E-04"
        izz="1.5413E-03" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/visual/link4.stl"/>
      </geometry>
      <material name="White" />
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/collision/link4.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint4" type="revolute">
    <origin
      xyz="0.087 -0.2276 0"
      rpy="1.5708 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="2.5"
      velocity="3.14"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>
  <link name="link5">
    <inertial>
      <origin
        xyz="0.0 0.010 0.0019"
        rpy="0 0 0" />
      <mass
        value="0.804" />
      <inertia
        ixx="5.668E-04"
        ixy="6E-07"
        ixz="-5.3E-06"
        iyy="5.077E-04"
        iyz="-4.8E-07"
        izz="5.3E-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/visual/link5.stl"/>
      </geometry>
      <material name="Silver" />
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/collision/link5.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint5" type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.1642"
      upper="2.1642"
      effort="2.5"
      velocity="3.14"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>
  <link name="link6">
    <inertial>
      <origin
        xyz="0.0 -0.00194 -0.0102"
        rpy="0 0 0" />
      <mass
        value="0.180" />
      <inertia
        ixx="7.726E-05"
        ixy="1E-06"
        ixz="4E-07"
        iyy="8.5665E-05"
        iyz="-6E-07"
        izz="1.4814E-04" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/visual/link6.stl"/>
      </geometry>
      <material name="Silver" />
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/lite6/collision/link6.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint6" type="revolute">
    <origin
      xyz="0 0.0615 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="2.5"
      velocity="3.14"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>

  <link name="link_eef"/>

  <joint
    name="joint_eef"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="link_eef" />
  </joint>
</robot>